<div class="search-container">
  <h2>Поиск пользователей</h2>
  <div class="search-profiles" >
    <input class="search-cities" [formControl]="searchControl" placeholder="Введите название города" (blur)="hideDropdown()" (focus)="showDropdown = true">
    @if (profiles) {
      <ul class="list-cities">
        @for (profile of profiles; track profile.id) {
          <a class="profile" [href]="['profile/' + profile.id]">
            @if (profile.avatarUrl) {
              <img class="avatar" [src]="[profile.avatarUrl | imgUrl]" alt="">
            } @else {
              <img class="avatar" src="/additions/user-solid.svg" alt="">
            }
            <span>{{profile.username}}</span>
          </a>
        }
      </ul>
    }
  </div>
</div>
