<div class="search-container">
  <h2>Поиск пользователей</h2>
  <div class="search-profiles">
    <input
      class="search-cities"
      [formControl]="searchControl"
      placeholder="Введите имя пользователя"
      (blur)="hideDropdown()"
      (focus)="showDropdown = true"
    >
    @if (showDropdown && profiles) {
      <ul class="list-cities">
        @for (profile of profiles; track profile.id) {
          <li>
            <a class="profile" (click)="routeToProfile(profile.id)">
              @if (profile.avatarUrl) {
                <img class="avatar" [src]="[profile.avatarUrl | fileUrl]" alt="{{ profile.username }}'s avatar">
              } @else {
                <img class="avatar" src="/additions/user-solid.svg" alt="Default avatar">
              }
              <span>{{ profile.username }}</span>
            </a>
          </li>
        }
      </ul>
    }
  </div>
</div>
