<div class="create-post-window">
  <button class="back-button">
    <a (click)="goToProfile()">Вернуться на главную</a>
  </button>
  <textarea
    [formControl]="content"
    placeholder="Напишите текст поста..."
    class="post-textarea"
    rows="5"
  ></textarea>
  <button class="attach-button" (click)="openFileList()">Прикрепить файл</button>
  @if (chatService.fileArr().length > 0) {
    <div class="selected-files">
      @for (file of chatService.fileArr(); track $index) {
        <div class="file-preview">
          {{ chatService.checkFileArrTypes(file) ? file.split('/').pop()?.slice(14) : file.name }}
          <button class="remove-button" (click)="chatService.removeFile(file)">❌</button>
        </div>
      }
    </div>
  }
  @if (chatService.openFileWindow()) {
    <div class="overlay"></div>
    <app-file-selection-page></app-file-selection-page>
  }
  <button class="form-button" (click)="o()">Сохранить</button>
</div>
