<div class="user-edit-page">
  <div class="user-edit-container">
    <h1 class="page-title">Редактирование профиля {{login}}</h1>
    <div class="file-upload-container">
      <div class="avatar-edit">
        <img class="avatar" [src]="preview" alt="">
        @for (item of chatService.fileArr(); track $index) {
          {{chatService.checkFileArrTypes(item) ? item.split('/').pop()?.slice(14) : item.name}}
        }
        <button class="attach-button" (click)="openFileList()">
          Прикрепить файл
        </button>
        @if (chatService.openFileWindow()) {
        <div class="overlay"></div>
        <app-file-selection-page></app-file-selection-page>
      }
      </div>
    </div>
    <form class="user-edit-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="form-label">Имя</label>
        <input
          id="firstName"
          formControlName="username"
          type="text"
          class="form-input"
          placeholder="Введите имя"
        />
      </div>

      <div class="form-group">
        <label class="form-label">Описание</label>
        <textarea
          id="description"
          formControlName="description"
          rows="4"
          class="form-textarea"
          placeholder="О себе"
        ></textarea>
      </div>

      <div>
        <input class="search-cities" formControlName="city" [formControl]="searchControl" placeholder="Введите название города" (blur)="hideDropdown()" (focus)="showDropdown = true">
        @if (filteredCities) {
          <ul class="list-cities">
            @for (city of filteredCities; track city.id) {
              <li class="city" (click)="selectCity(city.city)">{{city.city}}</li>
            }
          </ul>
        }
      </div>

      <!-- Кнопка -->
      <button class="form-button" type="submit" [disabled]="userForm.invalid">Сохранить</button>
    </form>
  </div>
</div>
