<div class="sidebar" (keyup.escape)="onEscape()" tabindex="0">
  <nav class="list-chats">
    <a class="to-profile" [routerLink]="['']">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
    <ul class="chats">
      @for (chat of chats; track chat.conversationId) {
        <div class="chat-item" (click)="toggleSidebar(); selectChat(chat.conversationId);" [class.selected]="chat.conversationId === selectedChatId">
          @if(chat.avatarUrl) {
            <img class="chat-avatar" [src]="[chat.avatarUrl | fileUrl]" alt="">
          } @else {
            <img class="chat-avatar" src="/additions/user-solid.svg" alt="">
          }
          <div class="chat-info">
            <span class="chat-name">{{chat.username}}</span>
            <span class="chat-time">{{chat.lastMessageTime | date: 'yyyy-MM-dd HH:mm'}}</span>
          </div>
          @if (chat.unreadCount > 0) {
            <span style="color: white;">{{chat.unreadCount}}</span>
          }
          <button class="delete-chat" (click)="deleteChat(chat.conversationId)">
            <img src="/additions/trash-solid.svg" alt="">
          </button>
        </div>
      }
    </ul>
  </nav>
</div>
<div class="messages" (keyup.escape)="onEscape()" tabindex="0">
  @if(selectedChatId) {
    @if(messages.length > 0) {
      <div class="chat-container" #messagesContainer>
      @for (item of messages; track item.messageId) {
          @if (item.senderId === profileService.me()!.id) {
            <div class="cont-message">
              @if(profileService.me()!.avatarUrl) {
                <img class="avatar" [src]="[profileService.me()!.avatarUrl | fileUrl]" alt="">
              } @else {
                <img class="avatar" src="/additions/user-solid.svg" alt="">
              }
              <div class="message user">
              @if (item.content) {
                <span>{{item.content}}</span>
              } @else if (item.file.fileUrl) {
                  @if (chatService.isImageFile(item.file.fileExpansion)) {
                      <a [href]="[item.file.fileUrl | fileUrl]">
                        <img [src]="[item.file.fileUrl | fileUrl]" alt="" loading="lazy">
                      </a>
                  } @else if (chatService.isAudioFile(item.file.fileExpansion)) {
                    <span>{{item.file.fileName.slice(14)}}</span>
                      <div class="custom-audio-player">
                        <audio #audioPlayer preload="metadata">
                          <source [src]="item.file.fileUrl | fileUrl">
                        </audio>
                        <button class="toggle-btn" (click)="chatService.toggleAudio(audioPlayer)">
                           @if(audioPlayer.paused) {
                              <i class="fa-solid fa-play"></i>
                            } @else {
                              <i class="fa-solid fa-pause"></i>
                            }
                        </button>
                        <input
                        type="range"
                        [min]="0"
                        [max]="item.file.duration"
                        class="audio-progress"
                        [value]="item.file.progress || 0"
                        (input)="seekAudio(item, $event)" />
                        <span>{{ chatService.formatDuration(item.file.progress || 0) }} / {{ chatService.formatDuration(item.file.duration) }}</span>
                    </div>
                  } @else if (chatService.isVideoFile(item.file.fileExpansion)) {
                      <div class="fullscreen-wrapper">
                        <video #videoPlayer preload="metadata" (click)="chatService.toggleVideo(videoPlayer)">
                            <source [src]="item.file.fileUrl | fileUrl" type="video/mp4">
                        </video>
                        <div class="video-controls">
                            <button class="toggle-btn" (click)="chatService.toggleVideo(videoPlayer)">
                              @if(videoPlayer.paused) {
                                <i class="fa-solid fa-play"></i>
                              } @else {
                                <i class="fa-solid fa-pause"></i>
                              }
                            </button>
                            <input
                                class="video-input"
                                type="range"
                                [min]="0"
                                [max]="item.file.duration"
                                [value]="item.file.progress || 0"
                                (input)="seekTo(item, $event)"
                            />
                            <span>{{ chatService.formatDuration(item.file.progress || 0) }} / {{ chatService.formatDuration(item.file.duration) }}</span>
                            <div (click)="toggleFullscreen(item)">
                              @if (fullscreenState[messages.indexOf(item)]) {
                               <i class="fa-solid fa-compress"></i>
                              } @else {
                                <i class="fa-solid fa-expand"></i>
                              }
                            </div>
                        </div>
                    </div>
                  }
                   @else {
                    <a class="file_download" [href]="[item.file.fileUrl | fileUrl]">
                      <img src="/additions/file-solid.svg" alt="">
                      <span>{{item.file.fileName.slice(14)}}</span>
                    </a>
                  }
              }
              </div>
              <span>{{item.sentAt | date: 'yyyy-MM-dd HH:mm'}}</span>
              @if (item.isRead == 0) {
                <span>не прочитано</span>
              }
            </div>
          } @else {
            <div class="cont-message">
              @if(avatarUrl) {
                <img class="avatar" [src]="[avatarUrl | fileUrl]" alt="">
              } @else {
                <img class="avatar" src="/additions/user-solid.svg" alt="">
              }
              <div class="message other-user">
                @if (item.content) {
                  <span>{{item.content}}</span>
                } @else if (item.file.fileUrl) {
                    @if (chatService.isImageFile(item.file.fileExpansion)) {
                        <a [href]="[item.file.fileUrl | fileUrl]">
                          <img [src]="[item.file.fileUrl | fileUrl]" alt="" loading="lazy">
                        </a>
                    } @else if (chatService.isAudioFile(item.file.fileExpansion)) {
                      <span>{{item.file.fileName.slice(14)}}</span>
                      <div class="custom-audio-player">
                        <audio #audioPlayer preload="metadata">
                          <source [src]="item.file.fileUrl | fileUrl">
                        </audio>
                        <button class="toggle-btn" (click)="chatService.toggleAudio(audioPlayer)">
                          @if(audioPlayer.paused) {
                            <i class="fa-solid fa-play"></i>
                          } @else {
                            <i class="fa-solid fa-pause"></i>
                          }
                        </button>
                        <input
                        type="range"
                        [min]="0"
                        [max]="item.file.duration"
                        class="audio-progress"
                        [value]="item.file.progress || 0"
                        (input)="seekAudio(item, $event)" />
                        <span>{{ chatService.formatDuration(item.file.progress || 0) }} / {{ chatService.formatDuration(item.file.duration) }}</span>
                    </div>
                    } @else if (chatService.isVideoFile(item.file.fileExpansion)) {
                      <div class="fullscreen-wrapper">
                        <video #videoPlayer preload="metadata" (click)="chatService.toggleVideo(videoPlayer)">
                            <source [src]="item.file.fileUrl | fileUrl" type="video/mp4">
                        </video>
                        <div class="video-controls">
                            <button class="toggle-btn" (click)="chatService.toggleVideo(videoPlayer)">
                              @if(videoPlayer.paused) {
                                <i class="fa-solid fa-play"></i>
                              } @else {
                                <i class="fa-solid fa-pause"></i>
                              }
                            </button>
                            <input
                                class="video-input"
                                type="range"
                                [min]="0"
                                [max]="item.file.duration"
                                [value]="item.file.progress || 0"
                                (input)="seekTo(item, $event)"
                            />
                            <span>{{ chatService.formatDuration(item.file.progress || 0) }} / {{ chatService.formatDuration(item.file.duration) }}</span>
                            <button (click)="toggleFullscreen(item)">
                              <div (click)="toggleFullscreen(item)">
                              @if (fullscreenState[messages.indexOf(item)]) {
                               <i class="fa-solid fa-compress"></i>
                              } @else {
                                <i class="fa-solid fa-expand"></i>
                              }
                            </div>
                            </button>
                        </div>
                    </div>
                  }
                     @else {
                        <a class="file_download" [href]="[item.file.fileUrl | fileUrl]">
                          <img src="/additions/file-solid.svg" alt="">
                          <span>{{item.file.fileName.slice(14)}}</span>
                        </a>
                    }
                }
                </div>
              <span>{{item.sentAt | date: 'yyyy-MM-dd HH:mm'}}</span>
            </div>
          }
        }
      </div>
    } @else {
      <span>Сообщений нет</span>
    }
    <div class="message-input-container">
      <input
        type="text"
        class="message-input"
        placeholder="Введите сообщение..."
        [(ngModel)] = "newMessage"
        (keyup.enter)="sendMessage()"
      />
      <button class="file-upload-container" (click)="openFileList()">
        <i class="fa-solid fa-paperclip"></i>
      </button>
      @if (chatService.openFileWindow()) {
        <div class="overlay"></div>
        <app-file-selection-page></app-file-selection-page>
      }
      <button
      class="send-button"
      (click)="newMessage.trim() ? sendMessage() : sendFiles()"
      [disabled]="!newMessage.trim() && !chatService.fileArr().length">
      Отправить
      </button>
    </div>
    <!-- <div class="file-upload-container">
      <button (click)="openFileList()">открыть окно</button>
      @if (chatService.openFileWindow()) {
        <div class="overlay"></div>
        <app-file-selection-page></app-file-selection-page>
      }
    </div> -->

    @if (chatService.fileArr().length > 0) {
      <div class="selected-files">
        @for (file of chatService.fileArr(); track $index) {
          <div class="file-preview">
            {{ chatService.checkFileArrTypes(file) ? file.split('/').pop()?.slice(14) : file.name }}
            <button (click)="chatService.removeFile(file)">❌</button>
          </div>
        }
      </div>
    }
  } @else {
    <span>Выберите чат</span>
  }
</div>
