<div class="sidebar" (keyup.escape)="onEscape()" tabindex="0">
  <nav class="list-chats">
    <a class="to-profile" [routerLink]="['']">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
    <ul class="chats">
      @for (chat of chats; track chat.conversationId) {
        <div class="chat-item" (click)="selectChat(chat.conversationId)" [class.selected]="chat.conversationId === selectedChatId">
          @if(chat.avatarUrl) {
            <img class="chat-avatar" [src]="[chat.avatarUrl | imgUrl]" alt="">
          } @else {
            <img class="chat-avatar" src="/additions/user-solid.svg" alt="">
          }
          <div class="chat-info">
            <span class="chat-name">{{chat.username}}</span>
            <span class="chat-time">{{chat.lastMessageTime | date: 'yyyy-MM-dd HH:mm'}}</span>
          </div>
          <button class="delete-chat" (click)="deleteChat(chat.conversationId)">
            <img src="/additions/trash-solid.svg" alt="">
          </button>
        </div>
      }
    </ul>
  </nav>
</div>
<div class="messages" (keyup.escape)="onEscape()" tabindex="0">
  @if(selectedChatId) {
    @if(messages.length > 0) {
      <div class="chat-container" #messagesContainer>
      @for (item of messages; track item.messageId) {
          @if (item.senderId === profileService.me()!.id) {
            <div class="cont-message">
              @if(profileService.me()!.avatarUrl) {
                <img class="avatar" [src]="[profileService.me()!.avatarUrl | imgUrl]" alt="">
              } @else {
                <img class="avatar" src="/additions/user-solid.svg" alt="">
              }
              <div class="message user">
              @if (item.content) {
                <span>{{item.content}}</span>
              } @else if (item.file.fileUrl) {
                  @if (isImageFile(item.file.fileExpansion)) {
                      <a [href]="[item.file.fileUrl | fileUrl]">
                        <img [src]="[item.file.fileUrl | fileUrl]" alt="" loading="lazy">
                      </a>
                  } @else if (isAudioFile(item.file.fileExpansion)) {
                    <span>{{item.file.fileName.slice(14)}}</span>
                      <div class="custom-audio-player">
                        <audio #audioPlayer preload="metadata">
                          <source [src]="item.file.fileUrl | fileUrl">
                        </audio>
                        <button (click)="toggleAudio(audioPlayer)">Toggle Audio</button>
                        <input
                        type="range"
                        [min]="0"
                        [max]="item.file.duration"
                        class="audio-progress"
                        [value]="item.file.progress || 0"
                        (input)="seekAudio(item, $event)" />
                        <span>{{ formatDuration(item.file.progress || 0) }} / {{ formatDuration(item.file.duration) }}</span>
                    </div>
                  } @else if (isVideoFile(item.file.fileExpansion)) {
                      <video #videoPlayer preload="metadata" (click)="toggleVideo(item, $event)">
                        <source [src]="item.file.fileUrl | fileUrl" type="video/mp4">
                      </video>
                      <div class="video-controls">
                        <button (click)="toggleVideo(item, $event)">Toggle Video</button>
                        <input
                          class="video-input"
                          type="range"
                          [min]="0"
                          [max]="item.file.duration"
                          [value]="item.file.progress || 0"
                          (input)="seekTo(item, $event)"
                        />
                        <span>{{ formatDuration(item.file.progress || 0) }} / {{ formatDuration(item.file.duration) }}</span>
                      </div>
                  }
                   @else {
                    <a class="file_download" [href]="[item.file.fileUrl | fileUrl]">
                      <img src="/additions/file-solid.svg" alt="">
                      <span>{{item.file.fileName}}</span>
                    </a>
                  }
              }
              </div>
              <span>{{item.sentAt | date: 'yyyy-MM-dd HH:mm'}}</span>
            </div>
          } @else {
            <div class="cont-message">
              @if(avatarUrl) {
                <img class="avatar" [src]="[avatarUrl | imgUrl]" alt="">
              } @else {
                <img class="avatar" src="/additions/user-solid.svg" alt="">
              }
              <div class="message other-user">
                @if (item.content) {
                  <span>{{item.content}}</span>
                } @else if (item.file.fileUrl) {
                    @if (isImageFile(item.file.fileExpansion)) {
                        <a [href]="[item.file.fileUrl | fileUrl]">
                          <img [src]="[item.file.fileUrl | fileUrl]" alt="" loading="lazy">
                        </a>
                    } @else if (isAudioFile(item.file.fileExpansion)) {
                      <span>{{item.file.fileName.slice(14)}}</span>
                      <div class="custom-audio-player">
                        <audio #audioPlayer preload="metadata">
                          <source [src]="item.file.fileUrl | fileUrl">
                        </audio>
                        <button (click)="toggleAudio(audioPlayer)">Toggle Audio</button>
                        <input
                        type="range"
                        [min]="0"
                        [max]="item.file.duration"
                        class="audio-progress"
                        [value]="item.file.progress || 0"
                        (input)="seekAudio(item, $event)" />
                        <span>{{ formatDuration(item.file.progress || 0) }} / {{ formatDuration(item.file.duration) }}</span>
                    </div>
                    }
                     @else {
                        <a class="file_download" [href]="[item.file.fileUrl | fileUrl]">
                          <img src="/additions/file-solid.svg" alt="">
                          <span>{{item.file.fileName}}</span>
                        </a>
                    }
                }
                </div>
              <span>{{item.sentAt | date: 'yyyy-MM-dd HH:mm'}}</span>
            </div>
          }
        }
      </div>
    } @else {
      <span>Сообщений нет</span>
    }
    <div class="message-input-container">
      <input
        type="text"
        class="message-input"
        placeholder="Введите сообщение..."
        [(ngModel)] = "newMessage"
        (keyup.enter)="sendMessage()"
      />
      <button
      class="send-button"
      (click)="newMessage.trim() ? sendMessage() : sendFiles()"
      [disabled]="!newMessage.trim() && !chatService.fileArr().length">
      Отправить
      </button>
    </div>
    <!-- Поле для выбора файлов -->
  <div class="file-upload-container">
    <button (click)="openFileList()">открыть окно</button>
    @if (chatService.openFileWindow()) {
      <div class="overlay"></div>
      <app-file-selection-page></app-file-selection-page>
    }
  </div>

  @if (chatService.fileArr().length > 0) {
    <div class="selected-files">
      @for (file of chatService.fileArr(); track $index) {
        <div class="file-preview">
          {{ checkFileArrTypes(file) ? file.substring(file.indexOf("-") + 1, file.length) : file.name }}
          <button (click)="removeFile(file)">❌</button>
        </div>
      }
    </div>
  }
  } @else {
    <span>Выберите чат</span>
  }
</div>
