<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="login-title">Вход</h2>

    <div class="form-group">
      <label class="form-label" for="username">Имя пользователя</label>
      <input
        id="username"
        class="form-input"
        type="text"
        formControlName="login"
        placeholder="Введите ваше имя пользователя"
        autocomplete="username"
        required
      />
      @if (loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched) {
        <div class="error-message">Заполните имя</div>
      }
    </div>

    <div class="form-group">
      <label class="form-label" for="password">Пароль</label>
        <input
          id="password"
          class="form-input"
          [type]="isPasswordVisible() ? 'text' : 'password'"
          formControlName="password"
          placeholder="Введите ваш пароль"
          autocomplete="current-password"
          required
        />
        @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
          <div class="error-message">Заполните пароль</div>
        }
        <button type="button" class="password-eye-btn" (click)="isPasswordVisible.set(!isPasswordVisible())"
        [class.active]="isPasswordVisible()">
          <i class="fa-solid fa-eye-slash"></i>
        </button>
      </div>

    <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">Войти</button>

    <div class="registration-container">
      <p class="registration-text">Еще нет аккаунта?</p>
      <button type="button" class="registration-btn" (click)="goToRegistration()">Зарегистрироваться</button>
    </div>
  </form>
</div>
