.page-container {
  display: grid;
  grid-template-columns: 70% 25%;
  justify-content: center;
  height: 100vh; // Высота страницы
  background-color: #f5f5f5; // Фон страницы
  grid-gap: 15px;
}
.profile-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto; // Центрирование в оставшемся месте
  text-align: center;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.avatar-placeholder i{
  font-size: 100px;
}

.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.username{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.description{
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.city{
  font-size: 14px;
  color: #999;
}

.settings-btn{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.btns-cont{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.to-message{
  width: 100%;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover{
    background-color: #0056b3;
  }
}

.posts-container {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
}

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.loading, .no-more-posts {
    text-align: center;
    padding: 10px;
    color: #666;
}
